*{
    margin: 0;
    padding: 0;
    background-color: #f5efff;
    text-align: center;
    font-family: 'Preahvihear', sans-serif;
}
h1{
    background-color: #ccdbfd;
    text-align: center;
    line-height: 5rem;
}
.choice{
    height: 200px;
    width: 200px;
    
}
img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    cursor: pointer;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 10rem;
}
.choice:hover{
    opacity: 0.5;
    background-color: rgb(199, 10, 10);
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    font-size: 2rem;
}
#user-score, #comp-score{
    font-size: 4rem;
}
.score-board{
    gap: 5rem;
}
#msg{
    background-color: #CCDBFD;
    font-size: 2.5rem;
    display: inline;
    padding: 10px;
    border-radius: 10px
}
.msg-container{
    margin-top: 2rem;
   ;

}
